# Assign a site for forwarders align with
[general]
site = site2

[clustering]
#forwarder_site_failover = site1:site2, site2:site1, site31:site32, site32:site31
forwarder_site_failover = site1:site2, site2:site1

